:root {
  --primary: #ec6f08;
  --primary-text: #000000;
  --secondary: #0249fd;
  --secondary-text: #ffffff;
  --accent: #f1b30c;
  --accent-text: #000000;
  --test-color1: #ff7300;
  --test-color2: #24f81d;
  --test-color3: #f8fc00;
  --test-color4: #0b6bcd;

}
