:root {
  --primary: #ff7300;
  --primary-text: #ffffff;
  --secondary: #ff7300;
  --secondary-text: #ffffff;
  --accent: #0563c1;
  --accent-text: #ffffff;
  --test-color1: #ff7300;
  --test-color2: #24f81d;
  --test-color3: #000000;
  --test-color4: #0b6bcd;

}
